In [1]:
import pandas as pd
df = pd.read_excel( "Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx")

In [2]:
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [3]:
df.head()
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [4]:
df = df.copy()
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df = df.drop_duplicates()
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [7]:
df = df[df["Monetary"] >= 0]
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [8]:
df = df[df["Session_Count"] > 0]
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [9]:
df.loc[:, "High_Value_Customer"] = df["Monetary"].apply(
    lambda x: "Yes" if x > 2000 else "No"
)
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [10]:
df.loc[:, "Engagement_Level"] = df["Session_Count"].apply(
    lambda x: "High" if x > 40 else "Medium" if x > 20 else "Low"
)
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [11]:
df.to_csv("cleaned_ecommerce_data.csv", index=False)
df

,Customer_ID,Recency,Frequency,Monetary,Avg_Order_Value,Session_Count,Avg_Session_Duration,Pages_Viewed,Clicks,Campaign_Response,Wishlist_Adds,Cart_Abandon_Rate,Returns,Segment_Label,High_Value_Customer,Engagement_Level
0,CUST00001,51,13,1560,113,56,14.766242,33,828,1,28,17.629489,8,Silver,No,High
1,CUST00002,134,5,3,26,7,5.409044,2,60,0,4,23.024216,9,Iron,No,Low
2,CUST00003,55,15,235,57,37,5.082231,11,710,1,17,28.391939,16,Copper,No,Medium
3,CUST00004,46,11,1293,191,48,18.936486,20,1223,0,17,15.192267,0,Silver,No,High
4,CUST00005,21,30,3602,239,90,26.461395,37,1892,0,57,11.427460,8,Gold,Yes,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,CUST09995,23,37,3671,295,107,19.935046,39,2919,0,34,5.844137,4,Gold,Yes,High
9925,CUST09996,157,4,26,16,15,3.993030,12,178,0,0,47.005971,8,Iron,No,Low
9926,CUST09998,105,0,10,20,2,4.547266,13,52,0,2,39.790716,10,Iron,No,Low
9927,CUST09999,38,23,1317,151,54,10.275550,30,1155,1,19,18.330191,4,Silver,No,High
9928,CUST10000,10,59,2252,169,86,15.346414,44,1728,0,36,14.225951,3,Gold,Yes,High

In [12]:
df[["Monetary", "High_Value_Customer", "Session_Count", "Engagement_Level"]].head()

   Monetary High_Value_Customer  Session_Count Engagement_Level
0      1560                  No             56             High
1         3                  No              7              Low
2       235                  No             37           Medium
3      1293                  No             48             High
4      3602                 Yes             90             High

In [13]:
df.to_excel('Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx', index=False)
print("Dataset exported to Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx")

Dataset exported to Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx

In [14]:
import os
print(os.getcwd())
print(os.path.exists('Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx'))

C:\Users\lenovo
True

In [15]:
df.to_excel(r"C:\Users\lenovo\OneDrive\Documents\Product Funnel, Customer Behavior & Revenue Optimization Analysis.xlsx", index=False)
print("Excel file successfully saved in Documents!")

Excel file successfully saved in Documents!

In [16]:
df.to_csv("cleaned_ecommerce_data.csv", index=False)

In [17]:
import os
os.getcwd()

'C:\\Users\\lenovo'